.list-user-containter {
    .list-user-content {
        .childe {
            width: 400px;
            margin: 0 auto;
            height: 40px;
            border: dashed grey;
            color: green;
        }
    }
}